<div class="py2 post-footer">
  <img src="/images/norbertschneider.jpg" alt="Norbert Schneider" class="avatar" />
  <p>
    I love to learn, try out and build stuff.<br>
    Geek, Developer, Clojure Enthusiast
  </p>
  <p>
    <a href="http://twitter.com/bertschneider"><b>twitter.com</b>/bertschneider</a>&nbsp
    <a href="http://github.com/bertschneider"><b>github.com</b>/bertschneider</a>
    <br>
    <a href="https://keybase.io/bertschneider"><b>keybase.io</b>/bertschneider</a>&nbsp;
    <a href="https://www.goodreads.com/bertschneider"><b>goodreads.com</b>/bertschneider</a>&nbsp;
    <a href="https://www.xing.com/profile/Norbert_Schneider16"><b>xing.com</b>/Norbert_Schneider</a>
  </p>
</div>
